
body{
    background-color: #777;
}


header {  
  background: #ebebeb;
  border-radius: 6px;
  color: #777;
  display: block;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding: 24px 15px;
  text-align: center;
  margin: 10px;
}

section{
      background: #ebebeb;
  border-radius: 6px;
  color: #777;
  display: block;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding: 24px 15px;
  text-align: center;
  margin: 10px;
  float:left;
  width: 49%;
  
}
aside{
      background: #ebebeb;
  border-radius: 6px;
  color: #777;
  display: block;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding: 24px 15px;
  text-align: center;
  margin: 10px;
  float:right;
  width:35%;
}
footer {  background: #ebebeb;
  border-radius: 6px;
  color: #777;
  display: block;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding: 24px 15px;
  text-align: center;
  margin-bottom:  70px;
  margin-top: 200px;
  clear: both;}

  nav {background: #ebebeb;
  border-radius: 6px;
  color: #777;
  display: block;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding: 24px 15px;
  text-align: center;
  margin-bottom:  70px;
  margin-top: 10px;
  

  }
  article{
      background: #ebebeb;
  border-radius: 6px;
  color: #777;
  display: block;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding: 24px 15px;
  text-align: center;
  margin-bottom:  20px;
  margin-top: 20px;
  border: 5px; solid #777;

  
  }